/* font */
body {

    font-family: 'Open Sans', sans-serif;

}

/*--------------- Banner part ----------------*/
.banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    padding: 100px;
}

.banner-text {

    width: 708px;
    height: 506px;
    display: block;
    padding: 240px 197px;

}

.title {
    font-size: 50px;
}

.title-text {
    font-size: 20px;
}

.banner-button {
    background-color: brown;
    font-size: 25px;
    padding: 10px 30px;
    border-radius: 30px;
    margin-top: 10px;
}

.banner-image {
    width: 635px;
    height: 800px;
    padding-right: 100px;
    align-items: center;
    justify-content: center;
}


/* ----------------Sale-Part --------------- */
.sale {
    width: 100%;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.sale-text-part {
    padding: 90px 150px 10px 200px;
}

.sale-header {
    font-size: 30px;
}

.sale-text {
    font-size: 15px;
}

.sale-button {
    background-color: brown;
    font-size: 17px;
    padding: 10px 30px;
    border-radius: 30px;
    margin-top: 20px;
}

.sale-image {
    width: 318px;
    height: 420;
    padding: 90px 250px 80px 20px;
    ;
}

/*------------------- latest deal ------------------------*/

.latest-deal {
    width: 100%;
    background-image: url(../images/Rectangle\ 9.png);
    height: 500px;
    background-repeat: no-repeat;

    margin-top: 100px;
}

.deal-text {
    position: absolute;
}

/* ------------- footer-part ------------------*/
.footer-part {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-top: 50px;
    color: white;

}

.footer-title {
    font-size: 20px;
    padding: 50px 500px 0px 300px;
}

.single-word {
    color: blueviolet;
}

.footer-text {
    font-size: 15px;
    padding: 0px 400px 50px 400px;
}