/* font */
body {
    font-family: 'Open Sans', sans-serif;
}

/*--------------- Banner part ----------------*/
header {
    display: flex;
    justify-content: center;

}

.banner {

    width: 2400px;
    height: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    padding: 100px;
}

.banner-text {

    width: 708px;
    height: 706px;
    display: block;
    padding: 240px 197px;

}

.title {
    font-size: 75px;
}

.title-text {
    font-size: 35px;
}

.banner-button {
    background-color: brown;
    font-size: 40px;
    padding: 10px 30px;
    border-radius: 30px;
    margin-top: 10px;
}

.banner-image {
    width: 635px;
    height: 800px;
    padding-right: 100px;
    align-items: center;
    justify-content: center;
}


/* ----------------Sale-Part --------------- */

#sale-section {
    display: flex;
    justify-content: center;
}

.sale {
    width: 3200px;
    height: 700px;

    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-top: 50px;
}

.sale-text-part {
    padding: 90px 200px 10px 700px;
}

.sale-header {
    font-size: 50px;
}

.sale-text {
    font-size: 30px;
}

.sale-button {
    background-color: brown;
    font-size: 35px;
    padding: 10px 30px;
    border-radius: 30px;
    margin-top: 20px;
}

.sale-image {
    width: 318px;
    height: 420;
    padding: 90px 800px 80px 20px;
    ;
}

/*------------------- latest deal ------------------------*/

.latest-deal {

    background-image: url(../images/Rectangle\ 9.png);
    background-position: center center;
    background-size: 3200px 2000px;
    background-repeat: no-repeat;
    margin-top: 100px;
}

.deal-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

/* ------------- footer-part ------------------*/
footer {
    display: flex;
    justify-content: center;
}

.footer-part {
    width: 3200px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-top: 50px;
    color: white;

}

.footer-title {
    font-size: 56px;
    padding: 50px 700px 0px 700px;
}

.single-word {
    color: blueviolet;
}

.footer-text {
    font-size: 30px;
    padding: 0px 1000px 50px 800px;
}